<!doctype html>
<html dir="ltr" xml:lang="{{h.language()}}" lang="{{h.language()}}">
<!--
    User Interface created http://puh.termi.lv
-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{_('Site title')}}{% endblock %}</title>
        <meta name="keywords" content="{{_('Site keywords')}}" />
        <meta name="description" content="{{_('Site description')}}" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        {% block styles %}
            {% if config['debug'] %}
                <link rel="stylesheet" type="text/css" media="all" href="/design/css/clever.css" />
            {% else %}
                <link rel="stylesheet" type="text/css" media="all" href="/design/css/m.08-02.css" />
            {% endif %}
        {% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div id="cont">
            {% block content%}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <div id="footer-wrap">
                <div id="copyright">
                    <ul id="f-menu">
                        <li><a href="{{h.language_path_prefix()}}/feedback" title="{{_('Feedback')}}">{{_('Feedback')}}</a></li>
{#                        <li><a href="http://autotermi.uservoice.com/forums/99509-general" target="_blank" onclick="UserVoice.Popin.show(uservoiceOptions); return false;">{{_('New idea')}}</a></li>#}
                    </ul>
                    <div id="f-other">
                        <a href="#wrap" title="{{_('Back to top')}}">{{_('Back to top')}}</a> &uarr;
                    </div>
                </div>
            </div>
        </div>
        {% if not config['debug'] %}
            <script type="text/javascript">
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}
        {#
        <script type="text/javascript">
          var uservoiceOptions = {
            key: 'autotermi',
            host: 'autotermi.uservoice.com',
            forum: '99509',
            lang: 'en',
            showTab: false
          };
          function _loadUserVoice() {
            var s = document.createElement('script');
            s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
            document.getElementsByTagName('head')[0].appendChild(s);
          }
          _loadSuper = window.onload;
          window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
        </script> #}
    </body>
</html>