{% extends "base/base.html" %}
    {% block scripts %}
        {% if config['debug'] %}
            <script type="text/javascript" src="/design/js/m.1.3.0-yui.js"></script>
        {% else %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
        {% endif %}
            
        {% if config['debug'] %}
            <script type="text/javascript" src="/design/js/mootools-more.js"></script>
            <script type="text/javascript" src="/design/js/UrlDetection.js"></script>
            <script type="text/javascript" src="/design/js/mooml.js"></script>
            <script type="text/javascript" src="/design/js/Locale.lv-LV.js"></script>
            <script type="text/javascript" src="/design/js/Locale.ru-LV.js"></script>
            <script type="text/javascript" src="/design/js/Locale.lg-LG.js"></script>
            <script type="text/javascript" src="/design/js/Popup.js"></script>
            <script type="text/javascript" src="/design/js/Filter.js"></script>
            <script type="text/javascript" src="/design/js/CarList.js"></script>
            <script type="text/javascript" src="/design/js/InlineSlider.js"></script>
            <script type="text/javascript" src="/design/js/AdvancedList.js"></script>
            <script type="text/javascript" src="/design/js/HashListener.js"></script>
            <script type="text/javascript" src="/design/js/HistoryManager.js"></script>
            <script type="text/javascript" src="/design/js/UrlManager.js"></script>
            <script type="text/javascript" src="/design/js/g-analytic.js"></script>
            <script type="text/javascript" src="/design/js/design.js"></script>
        {% else %}
            <script type="text/javascript" src="/design/js/m-yui.js"></script>
        {% endif %}
    {% endblock %}
