body
{
    color: #000;
    font: normal 14px/17px georgia;
}

h1
{
    margin: 0px;
    padding: 26px 0px 21px 16px;
    font: normal 30px/30px georgia;
    color: #3c0700;
}
h2
{
    font: normal 18px/18px georgia;
    color: #6a2317;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
h3
{
    font: bold 14px/14px georgia;
    color: #000;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
p
{
    margin: 0px 0px 15px 0px;
    padding: 0px;
    clear: both;
}
a
{
    color: #e20004;
    text-decoration: none;
}
    a:hover
    {
        text-decoration: underline;
    }
ul, ul li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
	ul ol li
	{
		list-style: decimal;
	}
ul
{
    margin: 0px 0px 15px 4px;
}
    ul li
    {
        padding: 0px 0px 5px 10px;
    }
table
{
    border-collapse: collapse;
    border: 1px solid #d0c1bb;
    background: none;
    padding: 0px;
    margin: 0px 0px 15px 0px;
    width: 100%;
}
    table tbody td
    {
        padding: 7px;
        border: 1px dashed #d0c1bb;
        background: #fff;
    }
    table thead td
    {
        padding: 7px;
        border: 1px solid #d0c1bb;
        font-weight: bold;
        background: #f5f2f1;
    }
    table tfoot td
    {
        padding: 7px;
    }
    table tr.c_0 td
    {
        background: #f8f4f2;
    }
    table tr.public_0 td
    {
        background: #ededed;
    }
form
{
    margin: 0px 0px 15px 0px;
}
form label
{
    display: block;
    padding: 5px 0px 0px 0px;
}
form input, form textarea
{
    width: 550px;
}
form input.sm-text
{
	width: 30px;
}
form input.med-text
{
	width: 300px;
}
form input.tabled
{
    width: 200px;
}
form input.checkbox
{
	width: auto;
}
form textarea
{
    width: 750px;
}
