{% extends "base/main.html" %}
{% block content %}
{#<div id="search">
    <form action="" method="get">
        <input type="text" name="s" />
        <button type="submit">Meklēt</button>
    </form>
    <small>Piemērs: BMW x5</small>
</div>#}
<div class="liquid">
    <div class="liquid-wrap">
        <div id="objects">
            
            {% block car_list %}{% endblock %}
        </div>
    </div>

    <div class="l" id="filter">
        {#
        <ol style="display:none">
            <li class="url-m">
                <span class="f-name">Modeļi</span>
                <ul class="advanced-list">
                    <li>
                        <h3><a href="/bmw/">BMW</a></h3>
                        <ul>
                            <li><a href="/bmx5/">x5</a></li>
                            <li><a href="/bmw/x7/">x7</a></li>
                            <li><a href="/bmw/750/">750</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/mers/">Mercedes</a></h3>
                        <ul>
                            <li><a href="/mers/s300/">s300</a></li>
                            <li><a href="/mers/s400/">s400</a></li>
                            <li><a href="/mers/s600/">s600</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="url-y">
                <span class="f-name">Izlaiduma gads</span>
                <ul class="slider">
                    <li class="min">1950</li>
                    <li class="max">2011</li>
                </ul>
            </li>
            <li class="url-c">
                <span class="f-name">Dzinēja tilpums</span>
                <ul class="slider">
                    <li class="min">0.2</li>
                    <li class="max">10</li>
                </ul>
            </li>
            <li class="url-g">
                <span class="f-name">Ātrumkārba</span>
                <ul class="chooser">
                    <li>automātiska</li>
                    <li>manuāla</li>
                </ul>
            </li>
            <li class="url-f">
                <span class="f-name">Degviela:</span>
                <ul class="chooser">
                    <li>benzīns</li>
                    <li>gāze</li>
                    <li>fuel</li>
                    <li>hybrid</li>
                </ul>
            </li>
            <li class="url-k">
                <span class="f-name">Nobraukums</span>
                <ul class="slider">
                    <li class="min">1000</li>
                    <li class="max">500000</li>
                </ul>
            </li>
            <li class="url-t">
                <span class="f-name">Tehniskā apskate</span>
                <ul class="slider">
                    <li class="min">0</li>
                    <li class="max">12</li>
                </ul>
            </li>
            <li class="url-o">
                <span class="f-name">Virsbūves tips</span>
                <ul class="chooser">
                    <li>Apvidus</li>
                    <li>Hečbeks</li>
                    <li>Kabriolets</li>
                    <li>Kupeja</li>
                    <li>Mikroautobuss</li>
                    <li>Minivens</li>
                    <li>Pikaps</li>
                    <li>Sedans</li>
                    <li>Universāls</li>
                    <li>Cits</li>
                </ul>
            </li>
            <li class="url-p">
                <span class="f-name">Cena</span>
                <ul class="slider">
                    <li class="min">100</li>
                    <li class="max">50000</li>
                </ul>
                <ul class="list">
                    <li>LVL</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </li>
        </ol>
<!--        <div id="search-button">
            Atlasīt <span>(20)</span>
        </div>-->
#}
    </div>
    <div class="cl"></div>
</div>
{% endblock %}